.cart {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.cart-empty {
  padding: 2em 2em 1em;
  text-align: center;
}

.cart-top {
  margin: 0;
  padding: 0 1.5em 1em;
  list-style-type: none;
  font-weight: bold;
  max-height: 15em;
  overflow: auto;
}

.cart-bottom {
  padding: 1.5em;
  background-color: rgb(252, 210, 210);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  max-height: 15em;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.actions {
  margin-top: 1em;
  text-align: right;
}

.actions button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(214, 36, 51, 0.9);
  padding: 0.5em 2em;
  border-radius: 25px;
  margin-left: 1em;
}

.actions button:hover,
.actions button:active {
  box-shadow: 0 0 5px rgba(214, 36, 51, 0.9);
}

.actions .button--close {
  color: rgba(214, 36, 51, 0.9);
}

.actions .button--order {
  background-color: rgba(214, 36, 51, 0.9);
  color: #fff;
}
