.delivery-form {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.input-group {
  grid-row: span 1;
  grid-column: span 1;
  display: inline-flex;
}

.input-group + .input-group {
  margin-top: 0.5em;
}

.control {
  flex: 50%;
}

.control + .control {
  margin-left: 0.5em;
}

.control label {
  display: block;
  color: #333;
  font-size: 0.9rem;
}

.control input {
  display: block;
  width: 100%;
  margin-top: 0.25em;
  padding: 0.5em;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.control input:focus {
  border: 1px solid #aaa;
}

.actions {
  margin-top: 1em;
  margin-left: auto;
}

button + button {
  margin-left: 0.5em;
}
