.delivery-form {
  display: grid;
  grid-template-columns:
    [left-start] 1fr
    [left-end right-start] 1fr
    [right-end];
  grid-auto-rows: auto;
  grid-gap: 1em 1em;
  margin-top: 1em;
}

div {
  grid-column: left-start / right-end;
  grid-row: span 1;
  margin-top: 0;
}

@media (min-width: 28em) {
  div:nth-child(1),
  div:nth-child(5),
  div:nth-child(7),
  div:nth-child(8) {
    grid-column: left;
  }

  div:nth-child(2),
  div:nth-child(6),
  div:nth-child(9) {
    grid-column: right;
  }
}

label {
  display: block;
  color: #333;
  font-size: 0.9rem;
  font-weight: initial;
}

input {
  display: block;
  width: 100%;
  margin-top: 0.25em;
  padding: 0.5em;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border: 1px solid #aaa;
}

.actions {
  grid-column: left / right;
  grid-row: span 1;
  margin-top: 1em;
  text-align: center;
}

.actions button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(214, 36, 51, 0.9);
  padding: 0.5em 2em;
  border-radius: 25px;
  width: 100%;
}

.actions button:hover,
.actions button:active {
  box-shadow: 0 0 5px rgba(214, 36, 51, 0.9);
}

.actions .button--cancel {
  color: rgba(214, 36, 51, 0.9);
}

.actions .button--submit {
  background-color: rgba(214, 36, 51, 0.9);
  color: #fff;
}

button + button {
  margin-top: 1em;
}

@media (min-width: 28em) {
  .actions {
    margin-top: 0;
    text-align: right;
  }

  .actions button {
    width: auto;
  }

  button + button {
    margin-left: 1em;
  }
}
