.form {
  text-align: right;
}

.form button {
  cursor: pointer;
  background-color: #d62535;
  border: #d62535;
  box-shadow: 1px 3px 10px #777;
  color: #fff;
  padding: 0.35em 1.5em;
  font-weight: bold;
  border-radius: 20px;
}

.form button:hover,
.form button:active {
  background-color: #c9a307;
  border-color: #c9a307;
}
