.form {
  text-align: right;
}

.form button {
  margin-top: 1em;
  cursor: pointer;
  background-color: rgba(214, 36, 51, 0.9);
  border: rgba(214, 36, 51, 0.85);
  box-shadow: 1px 3px 7px #777;
  color: #fff;
  padding: 0.35em 1.5em;
  font-weight: bold;
  border-radius: 20px;
}

.form button:hover,
.form button:active {
  background-color: rgba(214, 36, 51);
  border-color: rgba(214, 36, 51);
}

.input-error {
  color: red;
  font-size: 0.75rem;
}

.input-success {
  color: #000;
  font-size: 0.75rem;
}
