.menu {
  max-width: 60em;
  width: 90%;
  margin: -4em auto 2em;
  animation: menu-appears 1s ease-out forwards;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  text-align: center;
}

@keyframes menu-appears {
  from {
    opacity: 0;
    transform: translateY(3em);
  }

  to {
    opacity: 1;
    transform: translateY((0));
  }
}
