.input {
  margin-top: 1em;
}

.input label {
  font-weight: bold;
  margin-right: 1em;
}

.input input {
  width: 3.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5em;
  outline: none;
}
