.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-body {
  position: fixed;
  left: 5%;
  width: 90%;
  top: 25vh;
  color: #000;
  height: 20em;
  overflow: auto;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 40em) {
  .modal-body {
    width: 35em;
    left: calc(50% - 17.5em);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3em);
  }
  to {
    opacity: 1;
    transfrom: translateY(0);
  }
}
