.select {
  position: relative;
  margin-top: 1em;
}

label {
  font-weight: bold;
  margin-right: 1em;
}

select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5em;
  outline: none;
}

.error {
  position: absolute;
  font-size: 0.75rem;
  color: red;
}
